* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 100px;
}

.header-color {
    background-color: rgb(0, 0, 0);
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 155px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);


}

.disk {
    position: fixed;
    margin-top: 150px;
    margin-left: 290px;
    /* border: 2px solid white; */
}

.album-photo {
    position: fixed;
    margin-top: 135px;
    margin-left: 40px;
    /* border: 2px solid white; */

}

.album-photo img {

    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
}

body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai', cursive;
    background-image: url(./images/image13.jpg);
    background-size: 100%;
    /* background-size: auto; */
    background-size: cover;
    background-attachment: fixed
}

.footer {
    /* background-color: red; */
    position: relative;
    text-align: center;
    font-size: 18px;
    height: 100px;
    margin-top: 100px;
    clear: both;
}

.left {
    display: inline-block;
    position: fixed;
    left: 84px;
    top: 14px;
    z-index: 10000;
}

.left img {
    width: 500px;

}

.mid {
    display: inline-block;
    position: fixed;
    left: 284px;
    top: 125px;
    font-style: italic;
    font-size: 18px;
    z-index: 10000;
    /* font-weight: 100; */
    /* https://fonts.google.com/specimen/Nanum+Brush+Script */
}

.right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    /* border: 2px solid red; */
    position: fixed;
    margin-top: 66px;
    z-index: 10000;
    /* right: 132px;
    top: 66px; */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    margin-right: 132px;
    padding-left: 600px;
}

.navbar li {
    display: flex;
    flex-wrap: wrap;
}

.navbar li a {
    display: flex;
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    padding: 20px 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar li a::after {
    content: '';
    width: 0;
    background: rgb(226, 226, 108);
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 15%;
    transform-origin: left;
    transition: width 0.5s;
}

.navbar li a:hover::after {
    width: 70%;
    left: 15%;
}

.navbar li a.active {
    color: rgb(226, 226, 108);
}

.navbar li a.active::after {
    width: 70%;
    left: 15%;
}

.centre_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 500px;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
}

.song-flex {
    display: inline-block;
    justify-content: center;
    /* background-color: pink; */
}

.song_container {
    display: flex;
    max-width: 1300px;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
    background-color: rgb(244, 205, 211);
    backdrop-filter: blur(2px);
    animation: song_container-load 1s ease;
    /* border: 2px solid red; */
}

.song_container .music_thumbnail {
    display: flex;
    flex: 0 0 260px;
    max-width: 260px;
    width: 260px;
    animation: music_thumbnail-load 2s ease forwards;
    /* border: 2px solid green; */
}

.song_container .music_thumbnail img {

    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 100%;
    transition: transform .3s ease;
    /* border: 2px solid green; */
}

.song_container .music_thumbnail img:hover {

    transform: scale(1.2);
    /* border: 2px solid green; */
    opacity: 2;
}

.song_container .music_content {

    font-size: x-large;
    flex: 0 0 700;
    max-width: 700px;
    width: 700px;
    position: relative;
    /* display: flex; */
    /* display: grid; */
    margin-left: -170px;
    align-items: center;
    z-index: 1;
    padding: 40px;
    color: #000;
    animation: music_content-load 2s ease;
    /* border: 2px solid blue; */
}

.song_container .music-duration {
    color: black;
    margin-left: -150px;
    margin-top: 30px;
    font-size: 20px;
    /* border: 2px solid red; */
}

.music_content .music-name h2 {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    /* border: 2px solid red; */
}

.music_content .music-duration {
    display: flex;
    justify-content: right;
    /* border: 2px solid red; */
}

.music-duration h2 {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

@keyframes music_thumbnail-load {
    0% {
        opacity: 0;
        /* transform: translateY(40px); */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes music_content-load {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes song_container-load {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    /* background-color: red; */
    position: relative;
    text-align: center;
    font-size: 18px;
    height: 100px;
    margin-top: 100px;
    clear: both;
}

.footer a {
    text-decoration: none;
    color: blue
}

.submit img {
    z-index: -10;
}

.submit button {
    background-color: rgb(172, 172, 172);
    transition: 0.1s;
    opacity: 0.8;
    cursor: pointer;
}

.submit button:hover {
    background-color: rgb(176, 255, 166);
    opacity: 1;
    cursor: pointer;

    /* scale: (1.2); */
}

.submit img:hover {
    /* background-color: rgb(176, 255, 166); */
    opacity: 1;
    cursor: pointer;

    /* scale: (1.2); */
}

.submit img {
    /* background-color: rgb(176, 255, 166); */
    opacity: 0.8;
    cursor: pointer;
    /* scale: (1.2); */
}

.alert-box {
    position: fixed;
    top: -50px;
    left: 45%;

    transform: translateX(-50%);
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.alert-box.show {
    /* margin-right: 150px; */
    top: 0;
    opacity: 1;
}

.alert-content {
    padding: 20px;
    text-align: center;
}

.alert-content span {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.alert-box.hide {
    top: -50px;
    opacity: 0;
}